# local build dirs:
image
image/**
qemu
OctoPrint

# GCP docker stuff for ddns server, auto discovery, etc:
ddns
usbip
DDNS.py

# common:
__pycache__
.broken
.DS_Store
.idea
**.img
**.zip
**.qcow2
**.xml
