# local build dirs:
image
image/**
qemu
OctoPrint
linux
linux/**
tmp_build
gcp_ddns

# GCP docker stuff for ddns server, auto discovery, etc:
ddns
usbip
DDNS.py

# common:
wpa_supplicant.conf
ssh
__pycache__
.broken
.DS_Store
.idea
**.img
**.zip
**.qcow2
**.xml
tmp.file
